<header class="header-block">
  <div class="container">
    <div class="block-image">
      <a href="/" id="logo" class="hvr-bob" routerLink="home"></a>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a href="index.html" class="hvr-grow">Головна</a></li>
        <li><a href="collection.html" class="hvr-grow">Колекцiя</a></li>
        <li><a href="action.html" class="hvr-grow">Подiї</a></li>
        <li><a href="reviews.html" class="hvr-grow">Вiдгуки</a></li>
      </ul>
    </div>
  </div>
</header>